*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: beige;
    /* box-sizing: border-box; */
}

.signup {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
/* .form {
    width: 300px;
    margin-left: 1px;

} */

input[ type="text"], input[type="password"], button {
    display: block;
    margin-bottom: 10px;
    background-color: burlywood;
}

input[ type="text"], input[type="password"], button :hover {
    color: black;
    cursor: pointer;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: brown;
}

.posts {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid brown;
    border-radius: 3px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
}
li:hover {
    background-color: brown;
}

.post {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    /* border: 1px solid brown;
    border-radius: 3px; */
}

ul {
    max-width: 800px;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    /* align-items: center; */
}

li {
    text-align: center;

}
h3 title {
    font-size: 25px;
}

p body {

    font-size: 25px;
}